
  <div class="all-wrapper with-side-panel solid-bg-all">
         
          <div class="layout-w">
            
            <div class="content-w">
              
              <div class="content-i">
                <div class="content-box ">
                  <div class="element-wrapper content-info">
                    <h6 class="element-header">
                     KYC Request
                    </h6>
                    <div class="element-box">
    
                      <!--------------------------alerts messages------------->
    
                      <div class="col-md-12">
                        <div class="element-box-content">
    
                          <!-- weldone --------------------->
                          <div class="alert alert-success" role="alert">
                            <strong>Well done! </strong>You successfully read this important alert message.
                          </div>
    
                          <!-- weldone --------------------->
    
                          <!-- heads up alert --------------------->
    
                          <!--<div class="alert alert-info" role="alert">-->
                          <!--<strong>Heads up! </strong>This alert needs your attention, but it's not super important.-->
                          <!--</div>-->
                          <!-- heads up alert--------------------->
    
                          <!-- warnning--------------------->
                          <!--<div class="alert alert-warning" role="alert">-->
                          <!--<strong>Warning! </strong>Better check yourself, you're not looking too good.-->
                          <!--</div>-->
    
                          <!-- warnning--------------------->
    
                          <!-- dangerous-------------------->
                          <!--<div class="alert alert-danger" role="alert">-->
                          <!--<strong>Oh snap! </strong>Change a few things up and try submitting again.-->
                          <!--</div>-->
                          <!--</div>-->
                          <!-- warnning--------------------->
    
                          <!--------------------------alerts messages end------------->
    
                        </div>
                      </div>
                      <!--------------------
                      START - Controls Above Table
                      -------------------->
                      <!--------------------
                      END - Controls Above Table
                      -------------------->
                      <div class="table-responsive">
                        <!--------------------
                        START - Basic Table
                        -------------------->
                        <div class="controls-above-table" style="margin: 20px 0 0;">
                          <div class="row clearfix">
                            <div class="col-sm-6 col-md-8"></div>
                            <div class="col-sm-6 col-md-4">
                            </div>
                          </div>
                        </div>
    
    
                        <table class="table table-lightborder">
                          <thead>
                            <tr>
                              <th>Customer Name</th>
                              <th>Orders</th>
                              <th>Location</th>
                              <th>Lorem Ipsum</th>
                              <th>Lorem Ipsum</th>
                              <th>Lorem Ipsum</th>
                              <th class="text-center">Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>John Mayers</td>
                              <td>12</td>
                              <td><img alt="" src="../../../assets/img/flags-icons/us.png" width="25px"></td>
                              <td>Lorem Ipsum</td>
                              <td>Lorem Ipsum</td>
                              <td>ID Front</td>
                              <td class="text-center">  <button class="btn btn-success" data-toggle="modal" data-target="#myModal2"  type="submit">Request</button></td>
                            </tr>
                            <tr>
                              <td>John Mayers</td>
                              <td>12</td>
                              <td><img alt="" src="../../../assets/img/flags-icons/us.png" width="25px"></td>
                              <td>Lorem Ipsum</td>
                              <td>Lorem Ipsum</td>
                              <td>ID Back</td>
                              <td class="text-center"><button class="btn btn-success"  data-toggle="modal" data-target="#myModal3"type="submit">Request</button></td>
                            </tr>
                            <tr>
                              <td>John Mayers</td>
                              <td>12</td>
                              <td><img alt="" src="../../../assets/img/flags-icons/us.png" width="25px"></td>
                              <td>Lorem Ipsum</td>
                              <td>Lorem Ipsum</td>
                              <td>Address</td>
                              <td class="text-center"><button class="btn btn-success" data-toggle="modal" data-target="#myModal4" type="submit">Request</button></td>
                            </tr>
                            <tr>
                              <td>John Mayers</td>
                              <td>12</td>
                              <td><img alt="" src="../../../assets/img/flags-icons/us.png" width="25px"></td>
                              <td>Lorem Ipsum</td>
                              <td>Lorem Ipsum</td>
                              <td>ID Front</td>
                              <td class="text-center"><button class="btn btn-success" data-toggle="modal" data-target="#myModal2" type="submit">Request</button></td>
                            </tr>
                            <tr>
                              <td>John Mayers</td>
                              <td>12</td>
                              <td><img alt="" src="../../../assets/img/flags-icons/us.png" width="25px"></td>
                              <td>Lorem Ipsum</td>
                              <td> Lorem Ipsum</td>
                              <td>ID Back</td>
                              <td class="text-center"><button class="btn btn-success" data-toggle="modal" data-target="#myModal3" type="submit">Request</button></td>
                            </tr>
                          </tbody>
                        </table>
                        <!--------------------
                        END - Basic Table
                        -------------------->
                      </div>
                      <!--_________________new account button___________ -->
    
    
    
                  <!---------------------- create account model ------------------------------>
    
                      <!-- Modal -->
    
                      <div aria-hidden="true" class="onboarding-modal modal fade animated" id="myModal2" role="dialog" tabindex="-1">
                        <div class="modal-dialog modal-centered" role="document">
                          <div class="modal-content text-left">
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span class="os-icon os-icon-close"></span></button>
                            <div class="onboarding-content with-gradient">
                              <div class="element-wrapper pb-0">
                                <h6 class="element-header text-left">
                                  KYC Request
                                </h6>
                                <div class="">
                                  <form>
    
                                    <div class="form-group row">
                                      <label class="col-sm-6" for=""> <strong>User Name</strong></label>
                                      <div class="col-sm-6">
                                        John Mark
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label class="col-sm-6" for=""><strong>User Email</strong></label>
                                      <div class="col-sm-6">
                                       john@mail.com
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label class="col-sm-12" for=""><strong>ID Front</strong></label>
                                      <div class="col-sm-12">
                                       <img src="../../../assets/img/portfolio9.jpg" alt="/" width="100%">
                                      </div>
                                    </div>
                                    <br>
    
                                    <div class="form-buttons-w">
                                      <div class="element-box-content text-right">
                                        <button class="btn btn-success" type="submit">Approve</button>
                                        <button class="btn btn-danger" type="submit"> Disapprove</button>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                      <!----------------------end account modal-------------------->
    
                      <!-- end account botton  -->
                    </div>
                      <div aria-hidden="true" class="onboarding-modal modal fade animated" id="myModal3" role="dialog" tabindex="-1">
                        <div class="modal-dialog modal-centered" role="document">
                          <div class="modal-content text-left">
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span class="os-icon os-icon-close"></span></button>
                            <div class="onboarding-content with-gradient">
                              <div class="element-wrapper pb-0">
                                <h6 class="element-header text-left">
                                  KYC Request
                                </h6>
                                <div class="">
                                  <form>
    
                                    <div class="form-group row">
                                      <label class="col-sm-6" for=""> <strong>User Name</strong></label>
                                      <div class="col-sm-6">
                                        John Mark
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label class="col-sm-6" for=""><strong>User Email</strong></label>
                                      <div class="col-sm-6">
                                        john@mail.com
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label class="col-sm-12" for=""><strong>ID Back</strong></label>
                                      <div class="col-sm-12">
                                        <img src="../../../assets/img/portfolio9.jpg" alt="/" width="100%">
                                      </div>
                                    </div>
                                    <br>
    
                                    <div class="form-buttons-w">
                                      <div class="element-box-content text-right">
                                        <button class="btn btn-success" type="submit">Approve</button>
                                        <button class="btn btn-danger" type="submit"> Disapprove</button>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!----------------------end account modal-------------------->
    
                        <!-- end account botton  -->
                      </div>
                      <div aria-hidden="true" class="onboarding-modal modal fade animated" id="myModal4" role="dialog" tabindex="-1">
                        <div class="modal-dialog modal-centered" role="document">
                          <div class="modal-content text-left">
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span class="os-icon os-icon-close"></span></button>
                            <div class="onboarding-content with-gradient">
                              <div class="element-wrapper pb-0">
                                <h6 class="element-header text-left">
                                  KYC Request
                                </h6>
                                <div class="">
                                  <form>
    
                                    <div class="form-group row">
                                      <label class="col-sm-6" for=""> <strong>User Name</strong></label>
                                      <div class="col-sm-6">
                                        John Mark
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label class="col-sm-6" for=""><strong>User Email</strong></label>
                                      <div class="col-sm-6">
                                        john@mail.com
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label class="col-sm-12" for=""><strong>Address</strong></label>
                                      <div class="col-sm-12">
                                        <img src="../../../assets/img/portfolio9.jpg" alt="/" width="100%">
                                      </div>
                                    </div>
                                    <br>
    
                                    <div class="form-buttons-w">
                                      <div class="element-box-content text-right">
                                        <button class="btn btn-success" type="submit">Approve</button>
                                        <button class="btn btn-danger" type="submit"> Disapprove</button>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!----------------------end account modal-------------------->
    
                        <!-- end account botton  -->
                      </div>
                </div>
              </div>
            </div>
          </div>
          <div class="display-type"></div>
        </div>
        </div>
        </div>
       
     