<html>

    <!-- <ngx-spinner
    bdOpacity = 0.9
    bdColor = "rgba(51,51,51,0.55)"
    size = "medium"
    color = "#fff"
    type = "timer"
    [fullScreen] = "true">
    <p style="color: white" > Loading... </p>
    </ngx-spinner> -->
    <ngx-loading-bar></ngx-loading-bar>
<body class="menu-position-side menu-side-left full-screen with-content-panel">
        <div class="all-wrapper with-side-panel solid-bg-all">
         
          <div class="search-with-suggestions-w">
            <div class="search-with-suggestions-modal">
              <div class="element-search">
                <input class="search-suggest-input" placeholder="Start typing to search..." type="text">
                  <div class="close-search-suggestions">
                    <i class="os-icon os-icon-x"></i>
                  </div>
            
              </div>
              <div class="search-suggestions-group">
                <div class="ssg-header">
                  <div class="ssg-icon">
                    <div class="os-icon os-icon-box"></div>
                  </div>
                  <div class="ssg-name">
                    Projects
                  </div>
                  <div class="ssg-info">
                    24 Total
                  </div>
                </div>
                <div class="ssg-content">
                  <div class="ssg-items ssg-items-boxed">
                    <a class="ssg-item" href="users_profile_big.html">
                      <div class="item-media" style="background-image: url(img/company6.png)"></div>
                      <div class="item-name">
                        Integ<span>ration</span> with API
                      </div>
                    </a><a class="ssg-item" href="users_profile_big.html">
                      <div class="item-media" style="background-image: url(img/company7.png)"></div>
                      <div class="item-name">
                        Deve<span>lopm</span>ent Project
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="search-suggestions-group">
                <div class="ssg-header">
                  <div class="ssg-icon">
                    <div class="os-icon os-icon-users"></div>
                  </div>
                  <div class="ssg-name">
                    Customers
                  </div>
                  <div class="ssg-info">
                    12 Total
                  </div>
                </div>
                <div class="ssg-content">
                  <div class="ssg-items ssg-items-list">
                    <a class="ssg-item" href="users_profile_big.html">
                      <div class="item-media" style="background-image: url(img/avatar1.jpg)"></div>
                      <div class="item-name">
                        John Ma<span>yer</span>s
                      </div>
                    </a><a class="ssg-item" href="users_profile_big.html">
                      <div class="item-media" style="background-image: url(img/avatar2.jpg)"></div>
                      <div class="item-name">
                        Th<span>omas</span> Mullier
                      </div>
                    </a><a class="ssg-item" href="users_profile_big.html">
                      <div class="item-media" style="background-image: url(img/avatar3.jpg)"></div>
                      <div class="item-name">
                        Kim C<span>olli</span>ns
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="search-suggestions-group">
                <div class="ssg-header">
                  <div class="ssg-icon">
                    <div class="os-icon os-icon-folder"></div>
                  </div>
                  <div class="ssg-name">
                    Files
                  </div>
                  <div class="ssg-info">
                    17 Total
                  </div>
                </div>
                <div class="ssg-content">
                  <div class="ssg-items ssg-items-blocks">
                    <a class="ssg-item" href="#">
                      <div class="item-icon">
                        <i class="os-icon os-icon-file-text"></i>
                      </div>
                      <div class="item-name">
                        Work<span>Not</span>e.txt
                      </div>
                    </a><a class="ssg-item" href="#">
                      <div class="item-icon">
                        <i class="os-icon os-icon-film"></i>
                      </div>
                      <div class="item-name">
                        V<span>ideo</span>.avi
                      </div>
                    </a><a class="ssg-item" href="#">
                      <div class="item-icon">
                        <i class="os-icon os-icon-database"></i>
                      </div>
                      <div class="item-name">
                        User<span>Tabl</span>e.sql
                      </div>
                    </a><a class="ssg-item" href="#">
                      <div class="item-icon">
                        <i class="os-icon os-icon-image"></i>
                      </div>
                      <div class="item-name">
                        wed<span>din</span>g.jpg
                      </div>
                    </a>
                  </div>
                  <div class="ssg-nothing-found">
                    <div class="icon-w">
                      <i class="os-icon os-icon-eye-off"></i>
                    </div>
                    <span>No files were found. Try changing your query...</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="layout-w">
            <!--------------------
            START - Mobile Menu
            -------------------->
            <div class="menu-mobile menu-activated-on-click color-scheme-dark">
              <div class="mm-logo-buttons-w">
                <a class="mm-logo" routerLink='users/dashboard'><img src="../../../assets/img/TrendFX Logo-white.svg"></a>
                <div class="mm-buttons">
                  <div class="mobile-menu-trigger">
                    <div class="os-icon os-icon-hamburger-menu-1"></div>
                  </div>
                </div>
              </div>
              <div class="menu-and-user">
                <div class="logged-user-w">
                  <div class="logged-user-info-w">
                    <div class="logged-user-name">
                        {{userName}}
                    </div>
                    <div class="logged-user-role">
                      Admin
                    </div>
                  </div>
                </div>
                <!--------------------
                START - Mobile Menu List
                -------------------->
                <ul class="main-menu responsive-menu">
                  <li class="has-sub-menu">
                    <a routerLink='admin/myprofile'>
                      <div class="icon-w">
                        <div class="os-icon os-icon-layout"></div>
                      </div>
                      <span>Kişisel Bilgiler</span></a>
                  </li>
                  <li class="has-sub-menu">
                    <a routerLink='admin/kycrequest'>
                      <div class="icon-w">
                        <div class="os-icon os-icon-layers"></div>
                      </div>
                      <span>KYC İsteği</span></a>
                  </li>
                  <li class="has-sub-menu">
                    <a routerLink='admin/changepassword'>
                      <div class="icon-w">
                        <div class="os-icon os-icon-life-buoy"></div>
                      </div>
                      <span>Şifre Yenileme</span></a>
                  </li>
                  <li class="has-sub-menu">
                    <a routerLink='admin/realaccountlist'>
                      <div class="icon-w">
                        <div class="os-icon os-icon-package"></div>
                      </div>
                      <span>Gerçek Hesaplar</span></a>
                  </li>
                  <li class="has-sub-menu">
                    <a routerLink='admin/demoaccountlist'>
                      <div class="icon-w">
                        <div class="os-icon os-icon-file-text"></div>
                      </div>
                      <span>Demo Hesap Istekleri</span></a>
                  </li>
                  <li class="has-sub-menu">
                      <!-- routerLink='admin/withdrawrequest' -->
                    <a >
                      <div class="icon-w">
                        <div class="os-icon os-icon-mail"></div>
                      </div>
                      <span>Para Yatırma</span></a>
                  </li>
                  <li class="has-sub-menu">
                      <!-- routerLink="admin/depositrequest" -->
                    <a >
                      <div class="icon-w">
                        <div class="os-icon os-icon-users"></div>
                      </div>
                      <span>Para Çekme</span></a>
                  </li>
                  <li class="has-sub-menu">
                      <a routerLink='admin/accountactivitieshistory'>
                        <div class="icon-w">
                          <div class="os-icon os-icon-edit-32"></div>
                        </div>
                        <span>Hesap Hareketleri</span></a>
                    </li>

                    <li class="has-sub-menu">
                        <a (click)='logout()'>
                          <div class="icon-w">
                            <div class="os-icon os-icon-signs-11"></div>
                          </div>
                          <span>Çıkış Yap</span></a>
                      </li>
                    

                </ul>
                <!--------------------
                END - Mobile Menu List
                -------------------->
              </div>
            </div>
            <!--------------------
            END - Mobile Menu
            --------------------><!--------------------
            START - Main Menu
            -------------------->
            <div class="menu-w color-scheme-light color-style-transparent menu-position-side menu-side-left menu-layout-full sub-menu-style-over sub-menu-color-bright selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
              <div class="logo-w">
                <a class="logo" routerLink='admin/dashboard'>
                  <img src="../../../assets/img/TrendFX Logo.svg">
                </a>
              </div>
              <div class="logged-user-w avatar-inline">
                <div class="logged-user-i">
                  <div class="logged-user-info-w">
                    <div class="logged-user-name">
                      {{userName}}
                    </div>
                    <div class="logged-user-role">
                      Admin
                    </div>
                  </div>
                </div>
              </div>
              <h1 class="menu-page-header">
                Page Header
              </h1>
              <ul class="main-menu main-newmenu">
                <li class="sub-header">
                  <span>Profile</span>
                </li>
                <li class="has-sub-menu selected">
                  <a routerLink='admin/myprofile'>
                    <div class="icon-w">
                      <div class="os-icon os-icon-layout"></div>
                    </div>
                    <span>Kişisel Bilgiler</span></a>
    
                </li>
                <li class="has-sub-menu">
                  <a routerLink='admin/kycrequest'>
                    <div class="icon-w">
                      <div class="os-icon os-icon-layers"></div>
                    </div>
                    <span>KYC İsteği</span></a>
                </li>
                <li class="has-sub-menu">
                  <a routerLink='admin/changepassword'>
                    <div class="icon-w">
                      <div class="os-icon os-icon-life-buoy"></div>
                    </div>
                    <span>Şifre Yenileme</span></a>
                </li>
                <li class="sub-header">
                  <span>Yatırım Hesapları</span>
                </li>
                <li class="has-sub-menu">
                  <a routerLink='admin/realaccountlist'>
                    <div class="icon-w">
                      <div class="os-icon os-icon-package"></div>
                    </div>
                    <span>Gerçek Hesaplar</span></a>
                </li>
                <li class="has-sub-menu">
                  <a routerLink="admin/demoaccountlist">
                    <div class="icon-w">
                      <div class="os-icon os-icon-file-text"></div>
                    </div>
                    <span>Demo Hesaplar</span></a>
                </li>
    
                <li class="sub-header">
                  <span>Finans İşlemleri</span>
                </li>
                <li class="has-sub-menu">
                    <!-- routerLink='admin/withdrawrequest' -->
                  <a >
                    <div class="icon-w">
                      <div class="os-icon os-icon-mail"></div>
                    </div>
                    <span>Para Yatırma</span></a>
                </li>
                <li class="has-sub-menu">
                    <!-- routerLink="admin/depositrequest" -->
                  <a >
                    <div class="icon-w">
                      <div class="os-icon os-icon-users"></div>
                    </div>
                    <span>Para Çekme</span></a>
                </li>
                <li class="has-sub-menu">
                  <a routerLink='admin/accountactivitieshistory'>
                    <div class="icon-w">
                      <div class="os-icon os-icon-edit-32"></div>
                    </div>
                    <span>Hesap Hareketleri</span></a>
                </li>
                <li class="has-sub-menu">
                    <a (click)='logout()' style="cursor: pointer;">
                      <div class="icon-w">
                        <div class="os-icon os-icon-signs-11"></div>
                      </div>
                      <span>Çıkış Yap</span></a>
                  </li>
                <!-- <li class="has-sub-menu">
                        <a routerLink='users/kycrequest'>
                          <div class="icon-w">
                            <div class="os-icon os-icon-edit-32"></div>
                          </div>
                          <span>KYC istek</span></a>
                      </li> -->
                
              </ul>
            </div>
            <!--------------------
            END - Main Menu
            -------------------->
            <router-outlet></router-outlet>
          <div class="display-type"></div>
        </div>
        </div>
        </body>
        </html>