<body class="auth-wrapper">
        <div class="all-wrapper menu-side with-pattern">
          <div class="auth-box-w">
            <div class="logo-w">
              <a><img alt="" src="../../../assets/img/TrendFX Logo.svg"></a>
            </div>
            <h4 class="auth-header">
              Reset password
            </h4>
    
            <form action="">
    
              <div class="form-group">
                <label for="">Enter New Password</label><input class="form-control" placeholder="Enter your new password" type="password">
                <div class="pre-icon os-icon os-icon-fingerprint"></div>
              </div>
              <div class="form-group">
                <label for="">Re-enter Password</label><input class="form-control" placeholder="Re-enter your password" type="password">
                <div class="pre-icon os-icon os-icon-fingerprint"></div>
              </div>
              <div class="buttons-w">
                <button class="btn btn-primary">Send</button>
    
              </div>
            </form>
          </div>
        </div>
      </body>