<!-- <ngx-spinner bdOpacity=0.9 bdColor="rgba(51,51,51,0.55)" size="medium" color="#fff" type="timer" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner> -->
<ngx-loading-bar></ngx-loading-bar>
<div class="content-w">

  <div class="content-i">
    <div class="content-box">
      <div class="element-wrapper">
        <h6 class="element-header">
          Real Account Withdraw
        </h6>
        <div class="element-box">
          <form>
            <div class="steps-w">
              <div class="step-triggers">
                <a class="step-trigger active" id='step1' (click)='realaccounttab()'>Real Account to Withdraw</a>
                <a class="step-trigger" id='step2' (click)='paymentmethodtab()'>Payment Method</a>
                <a class="step-trigger" id='step3'>Finalize the Operation</a>
              </div>
              <div class="step-contents">

                <!--------------------------step1--------------------->

                <div class="step-content active" id="stepContent1" style="padding: 0">
                  <!-----------------------------table------------------->

                  <div class="element-box table-box">
                    <h5 class="form-header">
                      Real Account Withdraw
                    </h5>
                    <div class="table-responsive">
                      <!--------------------
                          START - Basic Table
                          -------------------->

                      <table class="table table-lightborder">
                        <thead>
                          <tr>
                            <th>Account Id</th>
                            <th>Updated At</th>
                            <th>Platform Type</th>
                            <th>Account Group</th>
                            <th>Leverage</th>
                            <th>Currency</th>
                            <th class="text-center">Action</th>
                          </tr>
                        </thead>
                        <tbody *ngIf='!NoRecordFound'>
                          <tr *ngFor='let list of realaccountlist'>
                            <td>{{list.id}}</td>
                            <td>{{list.updated_at | date:'dd-MM-yyyy hh:mm'}}</td>
                            <td>{{list.platform_type}}</td>
                            <td>{{list.account_group}}</td>
                            <td>{{list.lever}}</td>
                            <td>{{list.currency}}</td>
                            <td class="text-center">
                              <a class="btn btn-success actionbtn">
                                Withdraw</a>
                            </td>


                          </tr>

                        </tbody>
                        <tbody *ngIf='NoRecordFound'>

                          <h3>No Record Found</h3>

                        </tbody>
                        <div *ngIf='errormessage' class="alert alert-error alert-adj" role="alert">
                          <strong>{{errormessage}} </strong>.
                        </div>
                      </table>
                      <div class="card-footer float-right pb-0 pt-3">
                        <ul class="pagination">
                          <!-- <li [ngClass]="{disabled:pager.current_page === 1}"
                                 class="page-item first-item">
                                    <a routerLink [queryParams]="{ page: 1 }" 
                                    class="page-link">First</a>
                                </li>
                                <li [ngClass]="{disabled:pager.current_page === 1}" class="page-item previous-item">
                                    <a routerLink [queryParams]="{ page: pager.current_page - 1 }" class="page-link">Previous</a>
                                </li> -->
                          <li *ngFor="let page of pagesAccount" [ngClass]="{active:pager.current_page === page}"
                            class="page-item number-item">
                            <a (click)='loadPage(page)' class="page-link">{{page}}</a>
                          </li>
                          <!-- <li [ngClass]="{disabled:pager.current_page === pager.last_page}" class="page-item next-item">
                                    <a routerLink [queryParams]="{ page: pager.current_page + 1 }" class="page-link">Next</a>
                                </li>
                                <li [ngClass]="{disabled:pager.current_page === pager.last_page}" class="page-item last-item">
                                    <a routerLink [queryParams]="{ page: pager.last_page }" class="page-link">Last</a>
                                </li> -->
                        </ul>
                      </div>
                      <!--------------------
                          END - Basic Table
                          -------------------->
                    </div>
                    <!--_________________new account button___________ -->


                  </div>


                </div>

                <!--------------------------step1--------------------->

                <!--------------------------step2--------------------->

                <div class="step-content" id="stepContent2" style="padding: 0">
                  <div class="element-content">
                    <div class="row">
                      <div class="col-sm-4 col-xxxl-4">
                        <!-- href="#" data-toggle="modal" data-target="#myModal" -->
                        <a class="element-box el-tablo">
                          <div class="label" style="font-size: 16px">
                            Bank Transfer
                          </div>
                          <div class="">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>

                          </div>
                          <div class="">
                            <button class="btn btn-primary" href="#" data-toggle="modal" data-target="#myModal"
                              type="button">Pay Now</button>
                          </div>
                        </a>
                      </div>


                      <!-- -------------------------- bank transfer model ---------------->
                      <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog modal-sm bank-modal" style="max-width: 480px">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title" style="font-size: 20px">Bank Transfer</h4>
                              <button type="button" id='close' class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                              <ngx-loading-bar></ngx-loading-bar>
                              <div class="layout-w">

                                <div class="content-w">
                                  <div class="content-i">

                                    <div>

                                      <div class="element-wrapper p-0">

                                        <div class="element-box col-md-12 m-auto">
                                          <div class="form-buttons float-right">
                                          </div>
                                          <form [formGroup]='withdrawMoneyForm'>
                                            <h5 class="form-header">
                                              Havale/EFT Ile Para Çekme Talebi
                                            </h5>
                                            <div *ngIf='message' class="alert alert-success" role="alert">
                                              <strong>{{message}} </strong>.
                                            </div>
                                            <div *ngIf='errormessage' class="alert alert-error" role="alert">
                                              <strong>{{errormessage}} </strong>.
                                            </div>
                                            <div class="row">
                                              <div class="col-sm-6">
                                                <!-- <div class="form-group">
                               <label for="">TrendFX Kasa</label>
                               <select class="form-control" name=''>
                               <option>
                                 USD (Bakiye: 2289.90)
                               </option>
                             </select>
                             </div> -->
                                                <div class="form-group">
                                                  <label for="">Ödeme şekli</label>
                                                  <select class="form-control" name='payment_method'
                                                    formControlName='payment_method'>
                                                    <option selected='selected'>
                                                      bank transfer
                                                    </option>

                                                  </select>
                                                </div>


                                              </div>

                                              <div class="col-sm-6">
                                                <div class="form-group">
                                                  <label for=""> Transfer Miktarı</label>
                                                  <input class="form-control" placeholder="Transfer Amount"
                                                    name='amount' formControlName='amount' type="number">
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-sm-6">
                                                <div class="form-group">
                                                  <label for="">Para Birimi</label>
                                                  <select class="form-control" name="currency"
                                                    formControlName='currency'>
                                                    <option value='usd'>
                                                      Dollar ($)
                                                    </option>
                                                  </select>
                                                </div>
                                              </div>
                                              <div class="col-sm-6">
                                                <div class="form-group">
                                                  <label for=""> Hesap Sahibi</label>
                                                  <input class="form-control" name="account_owner"
                                                    formControlName='account_owner' placeholder="Account Holder"
                                                    type="text">
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-sm-6">
                                                <div class="form-group">
                                                  <label for="">Hesap Numarası</label>
                                                  <input class="form-control" name="iban" formControlName='iban'
                                                    placeholder="IBAN Number" type="text">
                                                </div>
                                              </div>
                                              <div class="col-sm-6">
                                                <div class="form-group">
                                                  <label for="">Banka İsmi</label>
                                                  <input class="form-control" name="bank_name"
                                                    formControlName='bank_name' placeholder="Bank Number" type="text">

                                                </div>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-sm-6">
                                                <div class="form-group">
                                                  <label for="">opertaion yazın</label>
                                                  <select class="form-control" name='operation_type'
                                                    formControlName='operation_type'>
                                                    <option>
                                                      withdraw
                                                    </option>

                                                  </select>
                                                </div>
                                              </div>
                                              <div class="col-sm-6">
                                                <div class="form-group">
                                                  <label for="">Swift kodu</label>

                                                  <input class="form-control" name='swift' formControlName='swift'
                                                    placeholder="Swift Code" type="text">

                                                </div>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-sm-6">
                                                <div class="form-group">
                                                  <label for="">Hesap Seç</label>
                                                  <select class="form-control" name='account_id' formControlName='account_id'>
                                                    <option *ngFor='let list of accountlist' value="{{list.id}}">
                                                      {{list.account_group}}
                                                    </option>
                              
                                                  </select>
                                                </div>
                                              </div>
                              
                                            </div>
                                            <div class="form-buttons-w text-right">
                                              <button class="btn btn-primary" type="submit"
                                                (click)='withdrawmoney(withdrawMoneyForm.value)'
                                                [disabled]='!withdrawMoneyForm.valid'>Gönder</button>
                                            </div>

                                          </form>

                                        </div>
                                      </div>

                                    </div>

                                  </div>
                                </div>
                              </div>

                            </div>
                            <!-- <div class="modal-footer">
                              <button class="btn btn-primary" type="button" data-dismiss="modal">Close</button>
                            </div> -->
                          </div>
                        </div>
                      </div>
                      <!-- -------------------------- bank transfer model ---------------->


                      <div class="col-sm-4 col-xxxl-4">
                        <a class="element-box el-tablo" href="payment-method.html">
                          <div class="label" style="font-size: 16px">
                            Papara
                          </div>
                          <div class="">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                          </div>
                          <div class="clearfix">
                            <button class="btn btn-primary">Pay Now</button>
                          </div>
                        </a>
                      </div>
                      <div class="col-sm-4 col-xxxl-4">
                        <a class="element-box el-tablo" href="#" data-toggle="modal" data-target="#myModal2">
                          <div class="label" style="font-size: 16px">
                            Bitcoin
                          </div>
                          <div class="">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                          </div>
                          <div class="">
                            <button class="btn btn-primary" type="button">Pay Now</button>
                          </div>
                        </a>
                      </div>

                      <!-- -------------------------- bitcoin model ---------------->
                      <div class="modal fade" id="myModal2" role="dialog">
                        <div class="modal-dialog modal-sm bank-modal" style="max-width: 480px">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title" style="font-size: 20px">Bitcoin</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                            </div>
                            <div class="modal-footer">
                              <button class="btn btn-primary" type="button" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- -------------------------- bitcoin model ---------------->
                    </div>

                  </div>
                  <br>
                  <div class="element-wrapper">
                    <div class="col-md-3 float-right">
                      <form [formGroup]='searchForm'>
                        <h6>
                          <input type="text" name='search' formControlName='search' (keyup)='search(searchForm.value)'
                            placeholder="search here" class="form-control">
                        </h6>
                      </form>
                    </div>
                    <div class="col-md-6">
                      <h6 class="element-header">
                        Recent Transactions
                      </h6>
                    </div>
                    <div class="element-box-tp">
                      <div class="table-responsive">
                        <table class="table table-padded">
                          <thead>
                            <tr>
                              <th>
                                Status
                              </th>
                              <th>
                                Date
                              </th>
                              <th>
                                Payment Type
                              </th>
                              <th class="text-center">
                                Category
                              </th>
                              <th class="text-right">
                                Amount
                              </th>
                            </tr>
                          </thead>
                          <tbody *ngIf='!notFound'>
                            <!-- data-target="#onboardingFormModal10" data-toggle="modal" -->
                            <tr *ngFor='let list of transcationList'>
                              <td class="nowrap">
                                <span *ngIf="list.status==='declined'" class="status-pill smaller red"></span>
                                <span *ngIf="list.status==='approved'" class="status-pill smaller green"></span>
                                <span *ngIf="list.status==='pending'" class="status-pill smaller yellow"></span>
                                <span>
                                  {{list.status}}</span>
                              </td>
                              <td>
                                <span>{{list.updated_at | date:'dd-MMMM'}}</span>
                                <span class="smaller lighter">{{list.updated_at | date:'hh:mm'}}</span>
                              </td>
                              <td class="cell-with-media">
                                <span class="status-pill smaller green">

                                </span><span>{{list.payment_method}}</span>

                              </td>
                              <td class="text-center">
                                <a class="btn btn-success" *ngIf="list.operation_type=='deposit'">
                                  {{list.operation_type}}</a>
                                <a class="btn btn-danger" *ngIf="list.operation_type=='withdraw'">
                                  {{list.operation_type}}</a>
                              </td>
                              <td class="text-right bolder nowrap">
                                <span class="text-success" *ngIf="list.operation_type=='deposit'">
                                  + {{list.amount}} {{list.currency}}</span>
                                <span class="text-danger" *ngIf="list.operation_type=='withdraw'">
                                  - {{list.amount}} {{list.currency}}</span>
                              </td>
                            </tr>

                          </tbody>

                          <tbody *ngIf='notFound'>
                            <h3>{{notFound}}</h3>
                          </tbody>

                          <div *ngIf='errormessage' class="alert alert-error alert-adj" role="alert">
                            <strong>{{errormessage}} </strong>.
                          </div>
                        </table>
                        <div class="card-footer float-right pb-0 pt-3">
                          <ul class="pagination">
                            <!-- <li [ngClass]="{disabled:pager.current_page === 1}"
                         class="page-item first-item">
                            <a routerLink [queryParams]="{ page: 1 }" 
                            class="page-link">First</a>
                        </li>
                        <li [ngClass]="{disabled:pager.current_page === 1}" class="page-item previous-item">
                            <a routerLink [queryParams]="{ page: pager.current_page - 1 }" class="page-link">Previous</a>
                        </li> -->
                            <li *ngFor="let page of pages" [ngClass]="{active:pager.current_page === page}"
                              class="page-item number-item">
                              <a (click)='loadPage(page)' class="page-link">{{page}}</a>
                            </li>
                            <!-- <li [ngClass]="{disabled:pager.current_page === pager.last_page}" class="page-item next-item">
                            <a routerLink [queryParams]="{ page: pager.current_page + 1 }" class="page-link">Next</a>
                        </li>
                        <li [ngClass]="{disabled:pager.current_page === pager.last_page}" class="page-item last-item">
                            <a routerLink [queryParams]="{ page: pager.last_page }" class="page-link">Last</a>
                        </li> -->
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <!--------------------------step2--------------------->

                <!--------------------------step3--------------------->

                <div class="step-content" id="stepContent3" style="padding: 0">
                  <div class="info-area">


                    <div class="jumbotron text-center">
                      <div class="animation-ctn">
                        <div class="icon icon--order-success svg">
                          <svg xmlns="http://www.w3.org/2000/svg" width="154px" height="154px">
                            <g fill="none" stroke="#42a185" stroke-width="2">
                              <circle cx="77" cy="77" r="72"
                                style="stroke-dasharray:480px, 480px; stroke-dashoffset: 960px;"></circle>
                              <circle id="colored" fill="#42a185" cx="77" cy="77" r="72"
                                style="stroke-dasharray:480px, 480px; stroke-dashoffset: 960px;"></circle>
                              <polyline class="st0" stroke="#fff" stroke-width="10"
                                points="43.5,77.8 63.7,97.9 112.2,49.4 "
                                style="stroke-dasharray:100px, 100px; stroke-dashoffset: 200px;" />
                            </g>
                          </svg>
                        </div>
                      </div>



                      <h1 class="display-3">Thank you</h1>
                      <p class="lead"><strong>Your request have been sent correctly.</strong></p>
                      <hr>

                    </div>
                    <!-- <button class="btn btn-primary" type="button" >Pay Now</button> -->
                  </div>
                </div>

                <!--------------------------step3--------------------->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>


  </div>
</div>