<ngx-loading-bar></ngx-loading-bar>
<div class="content-w">
  <div class="content-i">
    <div class="content-box">
      <div class="element-wrapper">
        <h6 class="element-header">
          File Uploads
        </h6>
        <div class="element-box">
          <h5 class="form-header">
            Hesabi Dogrula
          </h5>
          <div class="main-para">
            Regülasyon gereği para yatırma, para çekme gibi bazı işlemlerinizin kısıtını kaldırmak için bazı
            bilgilerinizi doğrulamanız gerekmektedir.
          </div>
          <h3 class="main-heading" style="font-size: 18px;">1. Kimlik Doğrulama</h3>
          <div class="row first-row">
            <div class="col-sm-4">
              <div class="upload-btn" *ngFor='let data of statusArray'>
                <form class="dropzone nodata-img" *ngIf="data.status==='nodata' && data.type==='Birth certificate'" id="my-awesome-dropzone">

                  <img [src]="birthdayCertificateURl" *ngIf="birthdayCertificateURl" (click)='filebirthdayimg.click()'
                    class="img-preview img-responsive center-block img-circle" alt="">
                  <input type="file" (change)='uploadBithCertificate($event,undefined)' #filebirthdayimg
                    style="display: none">

                  <div class="dz-message">
                    <div>
                      <a (click)='filebirthdayimg.click()' style="font-size: 16px;
                                    margin: 0;cursor: pointer;">Belge Yükle</a>

                    </div>
                  </div>
                </form>
                <form class="dropzone pending-img" *ngIf="data.status==='pending' && data.type==='Birth certificate'" id="my-awesome-dropzone">

                  <img [src]="birthdayCertificateURl" *ngIf="birthdayCertificateURl" (click)='filebirthdayimg.click()'
                    class="img-preview img-responsive center-block img-circle" alt="">
                  <input type="file" (change)='uploadBithCertificate($event,statusArray[0].id)' #filebirthdayimg
                    style="display: none">

                  <div class="dz-message">
                    <div>
                      <a style="font-size: 16px;
                                    margin: 0;cursor: pointer;">kadar</a>

                    </div>
                  </div>
                </form>
                <form class="dropzone uploaded-img" *ngIf="data.status==='approved' && data.type==='Birth certificate'" id="my-awesome-dropzone">

                  <img [src]="birthdayCertificateURl" *ngIf="birthdayCertificateURl" (click)='filebirthdayimg.click()'
                    class="img-preview img-responsive center-block img-circle" alt="">
                  <input type="file" (change)='uploadBithCertificate($event,statusArray[0].id)' #filebirthdayimg
                    style="display: none">

                  <div class="dz-message">
                    <div>
                      <a style="font-size: 16px;
                                    margin: 0;cursor: pointer;">Doğrulandı</a>

                    </div>
                  </div>
                </form>
                <form class="dropzone fail-upload" *ngIf="data.status==='declined' && data.type==='Birth certificate'" id="my-awesome-dropzone">

                  <img [src]="birthdayCertificateURl" *ngIf="birthdayCertificateURl" (click)='filebirthdayimg.click()'
                    class="img-preview img-responsive center-block img-circle" alt="">
                  <input type="file" (change)='uploadBithCertificate($event,statusArray[0].id)' #filebirthdayimg
                    style="display: none">

                  <div class="dz-message">
                    <div>
                      <a (click)='filebirthdayimg.click()' style="font-size: 16px;
                                    margin: 0;cursor: pointer;">Reddedildi</a>

                    </div>
                  </div>
                </form>
                <!--<span class="pending-msj">Pending</span>-->
                <!-- <div *ngFor='let list of status'>
                                <span class="done-msj" 
                                *ngIf="list.type===Birth certificate">
                                    {{list.status}}.</span>
                            </div> -->

                <!-- <span class="done-msj" *ngIf="birthdayCertificateURl">Upload file successfully.</span> -->
              </div>
              <div class="upload-btn" *ngFor='let data of statusArray'>
                <form class="dropzone nodata-img" *ngIf="data.status==='nodata' && data.type==='Driving license'" id="my-awesome-dropzone">

                  <img [src]="driverlicensURL" *ngIf="driverlicensURL" (click)='filedriverlicensimg.click()'
                    class="img-preview img-responsive center-block img-circle" alt="">
                  <input type="file" (change)='uploadDriverlicense($event,undefined)' #filedriverlicensimg
                    style="display: none">

                  <div class="dz-message">
                    <div>
                      <a (click)='filedriverlicensimg.click()' style="font-size: 16px;
                                    margin: 0;cursor: pointer;">Belge Yükle</a>

                    </div>
                  </div>
                </form>
                <form class="dropzone pending-img" *ngIf="data.status==='pending' && data.type==='Driving license'" id="my-awesome-dropzone">

                  <img [src]="driverlicensURL" *ngIf="driverlicensURL" (click)='filedriverlicensimg.click()'
                    class="img-preview img-responsive center-block img-circle" alt="">
                  <input type="file" (change)='uploadDriverlicense($event,statusArray[1].id)' #filedriverlicensimg
                    style="display: none">

                  <div class="dz-message">
                    <div>
                      <a style="font-size: 16px;
                                    margin: 0;cursor: pointer;">kadar</a>

                    </div>
                  </div>
                </form>
                <form class="dropzone uploaded-img" *ngIf="data.status==='approved' && data.type==='Driving license'" id="my-awesome-dropzone">

                  <img [src]="driverlicensURL" *ngIf="driverlicensURL" (click)='filedriverlicensimg.click()'
                    class="img-preview img-responsive center-block img-circle" alt="">
                  <input type="file" (change)='uploadDriverlicense($event,statusArray[1].id)' #filedriverlicensimg
                    style="display: none">

                  <div class="dz-message">
                    <div>
                      <a style="font-size: 16px;
                                    margin: 0;cursor: pointer;">Doğrulandı</a>

                    </div>
                  </div>
                </form>
                <form class="dropzone fail-upload" *ngIf="data.status==='declined' && data.type==='Driving license'" id="my-awesome-dropzone">

                  <img [src]="driverlicensURL" *ngIf="driverlicensURL" (click)='filedriverlicensimg.click()'
                    class="img-preview img-responsive center-block img-circle" alt="">
                  <input type="file" (change)='uploadDriverlicense($event,statusArray[1].id)' #filedriverlicensimg
                    style="display: none">

                  <div class="dz-message">
                    <div>
                      <a (click)='filedriverlicensimg.click()' style="font-size: 16px;
                                    margin: 0;cursor: pointer;">Reddedildi</a>

                    </div>
                  </div>
                </form>

                <!-- <span class="done-msj" *ngIf="driverlicensURL">Upload file successfully.</span> -->
              </div>

            </div>
            <div class="col-sm-8">
              <p>Kimliğinizi doğrulama için lütfen kimlik belgenizin ön ve arka tarafını gösteren belgeleri yükleyin.
                Geçerli olan kimlik belgeleri;</p>
              <ul class="check-item">
                <li><i class="tick-icon"><img src="../../../assets/img/check.svg" alt="check"></i>Nüfus cüzdanı</li>
                <li><i class="tick-icon"><img src="../../../assets/img/check.svg" alt="check"></i>Sürücü Belgesi</li>
              </ul>
            </div>

          </div>
          <h3 class="main-heading" style="font-size: 18px;">2. Adresinizi Doğrulayın</h3>
          <div class="row second-row">
            <div class="col-sm-4">
              <div  *ngFor='let data of statusArray'>
                <form class="dropzone nodata-img" *ngIf="data.status==='nodata' && data.type==='Address certificate'" id="my-awesome-dropzone">

                  <img [src]="addressURL" *ngIf="addressURL" (click)='fileaddressimg.click()'
                    class="img-preview img-responsive center-block img-circle" alt="">
                  <input type="file" (change)='uploadAddressDocument($event,undefined)' #fileaddressimg
                    style="display: none">

                  <div class="dz-message">
                    <div>
                      <a (click)='fileaddressimg.click()' style="font-size: 16px;
                                    margin: 0;cursor: pointer;">Belge Yükle</a>

                    </div>
                  </div>
                </form>
                <form class="dropzone pending-img" *ngIf="data.status==='pending' && data.type==='Address certificate'" id="my-awesome-dropzone">

                  <img [src]="addressURL" *ngIf="addressURL" (click)='fileaddressimg.click()'
                    class="img-preview img-responsive center-block img-circle" alt="">
                  <input type="file" (change)='uploadAddressDocument($event,statusArray[2].id)' #fileaddressimg
                    style="display: none">

                  <div class="dz-message">
                    <div>
                      <a style="font-size: 16px;
                                    margin: 0;cursor: pointer;">kadar</a>

                    </div>
                  </div>
                </form>
                <form class="dropzone uploaded-img" *ngIf="data.status==='approved' && data.type==='Address certificate'" id="my-awesome-dropzone">

                  <img [src]="addressURL" *ngIf="addressURL" (click)='fileaddressimg.click()'
                    class="img-preview img-responsive center-block img-circle" alt="">
                  <input type="file" (change)='uploadAddressDocument($event,statusArray[2].id)' #fileaddressimg
                    style="display: none">

                  <div class="dz-message">
                    <div>
                      <a style="font-size: 16px;
                                    margin: 0;cursor: pointer;">Doğrulandı</a>

                    </div>
                  </div>
                </form>
                <form class="dropzone fail-upload" *ngIf="data.status==='declined' && data.type==='Address certificate'" id="my-awesome-dropzone">

                  <img [src]="addressURL" *ngIf="addressURL" (click)='fileaddressimg.click()'
                    class="img-preview img-responsive center-block img-circle" alt="">
                  <input type="file" (change)='uploadAddressDocument($event,statusArray[2].id)' #fileaddressimg
                    style="display: none">

                  <div class="dz-message">
                    <div>
                      <a (click)='fileaddressimg.click()' style="font-size: 16px;
                                    margin: 0;cursor: pointer;">Reddedildi</a>

                    </div>
                  </div>
                </form>
                <!--<span class="error-msj">Error to upload</span>-->
                <!-- <span class="done-msj" *ngIf="addressURL">Upload file successfully.</span> -->
              </div>
            </div>
            <div class="col-sm-8">
              <p>Adresinizi doğrulayan 3 aydan güncel bir belge yüklemeniz gerekmektedir.</p>
              <ul class="check-listnew uploadchecklist">
                <li><i class="tick-icon"><img src="../../../assets/img/check.svg" alt="check"></i>İkametgah belgesi</li>
                <li><i class="tick-icon"><img src="../../../assets/img/check.svg" alt="check"></i>Elektrik, su, doğalgaz
                  faturası</li>
                <li><i class="tick-icon"><img src="../../../assets/img/check.svg" alt="check"></i>Cep telefonu faturası
                </li>
              </ul>
            </div>

          </div>
          <div class="form-buttons-w">
            <button class="btn btn-primary" (click)='DocSubmit()' type="submit"> Submit</button>
          </div>
          <br>
          <div class="col-sm-12" class="alert alert-success alert-adj" role="alert" *ngIf='submitted'>
            <strong>Yüklediğiniz evraklar ekibimiz tarafından 24
              saat içinde incelenip onaylanacaktır</strong>.
          </div>


        </div>
      </div>
    </div>
  </div>
</div>