<!-- <ngx-spinner bdOpacity=0.9 bdColor="rgba(51,51,51,0.55)" size="medium" color="#fff" type="timer" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner> -->
<ngx-loading-bar></ngx-loading-bar>
<div class="content-w">
  <div class="content-i">
    <div class="content-box">
      <div class="element-wrapper">
        <h6 class="element-header">
          Hesap ayarları
        </h6>
        <div class="element-box col-md-8">
          <h5 class="form-header">
            Profili Düzenle
          </h5>
          <div *ngIf='message' class="alert alert-success" role="alert">
            <strong>{{message}} </strong>.
          </div>
          <div *ngIf='errormessage' class="alert alert-error" role="alert">
            <strong>{{errormessage}} </strong>.
          </div>
          <!--              <div class="main-para">-->
          <!--                Regülasyon gereği para yatırma, para çekme gibi bazı işlemlerinizin kısıtını kaldırmak için bazı bilgilerinizi doğrulamanız gerekmektedir.-->
          <!--              </div>-->
          <div>

            <form [formGroup]='profileForm'>
              <div class="step-contents">
                <div class="step-content p-0 active" id="stepContent1">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">isim</label>
                        <input class="form-control" readonly placeholder="Name" name='name' formControlName='name' type="text">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">E-posta</label>
                        <input class="form-control" readonly placeholder="Email" name='email' formControlName='email'
                          type="text">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">Telefon</label>
                        <input class="form-control" readonly placeholder="Phone" name='number' formControlName='number'
                          type="text">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">Posta kodu</label>
                        <input class="form-control" name='post_code' formControlName='post_code' placeholder="Post code"
                          type="text">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for=""> Adres</label>
                        <input class="form-control" placeholder="Address" name='address' formControlName='address'
                          type="text">
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for=""> Kent</label>
                        <input class="form-control" placeholder="City" name='city' formControlName='city' type="text">


                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">ülke</label>
                        <select  name='country' formControlName='country' class="form-control">
                          <option>
                            Turkish
                          </option>
                          <option>
                            New York
                          </option>
                          <option>
                            California
                          </option>
                          <option>
                            Boston
                          </option>
                          <option>
                            Texas
                          </option>
                          <option>
                            Colorado
                          </option>
                        </select>
                        <!-- <input class="form-control" placeholder="City"
                         name='country' formControlName='country'
                          type="text"> -->

                      </div>
                    </div>
                  </div>
                  <div class="form-buttons-w text-right">
                    <button class="btn btn-primary" (click)='updateProfile(profileForm.value)'>Save</button>
                  </div>

                </div>

              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>