<!-- <ngx-spinner bdOpacity=0.9 bdColor="rgba(51,51,51,0.55)" size="medium" color="#fff" type="timer" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner> -->
<ngx-loading-bar></ngx-loading-bar>

<!-- All Content -->
<div class="layout-w">


  <div class="content-w">
    <div class="content-i">
      <div class="content-box">

        <div class="element-wrapper">
          <h6 class="element-header">
            Reset Form
          </h6>
          <div class="element-box">
            <h5 class="form-header">
              Password Reset
            </h5>
            <div class="form-desc">
              Discharge best employed your phase each the of shine. Be met even reason consider logbook redesigns. Never
              a turned interfaces among asking
            </div>
            <div *ngIf='message' class="alert alert-success" role="alert">
              <strong>{{message}} </strong>.
            </div>
            <div *ngIf='errormessage' class="alert alert-error" role="alert">
              <strong>{{errormessage}} </strong>.
            </div>
            <form [formGroup]='changepasswordForm' class="form-inline">
              <label class="sr-only">New password</label>
              <input class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="New Password" name='password'
                formControlName='password' type="password">

              <label class="sr-only">Confirm New password</label>
              <input class="form-control mb-2 mr-sm-2 mb-sm-0" name='password_confirmation'
                formControlName='password_confirmation' placeholder="Confirm New Password" type="password">



              <button class="btn btn-primary" (click)='updatePassword(changepasswordForm.value)'
                 type="submit"> Submit</button>
              <div *ngIf="submitted  &&
                         !changepasswordForm.controls['password'].valid">
                <span class="help-block" style="color:red"
                  *ngIf="submitted && changepasswordForm.controls['password'].hasError('required')">
                  Password is required</span>
              </div>
              <div *ngIf="submitted &&
                         !changepasswordForm.controls['password'].valid">
                <span class="help-block" style="color:red"
                  *ngIf="submitted &&changepasswordForm.controls['password'].hasError('minlength')">
                  min length of password is 8 characters</span>
              </div>
              <div *ngIf="submitted &&
                         !changepasswordForm.controls['password_confirmation'].valid">
                <span class="help-block" style="color:red"
                  *ngIf="submitted && changepasswordForm.controls['password_confirmation'].hasError('mustMatch')">
                  Confirm password not matched</span>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of All Content -->
<div class="display-type"></div>